<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/account.html">Account</a></li>
            <li><a href="{{ site.baseurl }}/documentation.html">API Documentation</a></li>
            <li><a href="{{ site.baseurl }}{% if page.permalink == "/" %}#stats{% else %}/#stats{% endif %}">Stats</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Developed by <a href="https://www.nightdev.it">NightDevs</a></p>
        <p>Copyright &copy; Design &amp; by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
