<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/account/">Account</a></li>
            <li><a href="{{ site.baseurl }}/documentation.html">API Documentation</a></li>
            <li><a href="{{ site.baseurl }}{% if page.permalink == "/" %}#stats{% else %}/#stats{% endif %}">Stats</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Developed by <a href="https://www.nightdev.it">NightDevs</a></p>
        <p>Copyright &copy; Design &amp; by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Begin Cookie Consent script https://cookiescript.info/ -->
<link rel="stylesheet" type="text/css" href="//cookiescriptcdn.pro/libs/cookieconsent.6.min.css" />
<a id="cookieconsent:learn_more" aria-label="learn more about cookies" role=button tabindex="0" class="cc-link" href="https://cookie-policy.org/" target="_blank">Learn more</a><script>var cookieconsent_ts = 1496094015345; var learnmore2 = document.getElementById("cookieconsent:learn_more");learnmore2.setAttribute("style", "display:none");</script>
<script src="//cookiescriptcdn.pro/libs/cookieconsent.6.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#383b75"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "edgeless"
})});
</script>
<noscript><a href="https://cookiescript.info/">Cookie consent script</a></noscript>
<!-- End Cookie Consent script -->